<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mystudyhelper">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyStudyHelper">

        <activity
            android:name=".ui.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <activity android:name=".ui.InterventionActivity" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MathMenuActivity" />
        <activity android:name=".ui.SubjectsActivity" />
        <activity android:name=".ui.ScannerActivity" />
        <activity android:name=".ui.QuizActivity" />
        <activity android:name=".ui.StudyActivity" />
        <activity android:name=".ui.LessonListActivity" />
        <activity android:name=".ui.SubmateriasActivity" />
        <activity android:name=".ui.EnglishLevelsActivity" />
        <activity android:name=".ui.SubjectMenuActivity" />
    </application>
</manifest>